@media screen and (device-width: 1728px) {

    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.9);
    }

}
@media screen and (device-width: 1536px) {

    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.8);
    }

    .line {
        transform: scale(.9);
        right: -170px;
    }

    .absolut-8 {
        width: 600px;
    }

    .absolut-6 {
        width: 620px;
    }

    .absolut-4 {
        width: 631px
    }

    
}
@media screen and (device-width: 1512px) {

    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.8);
    }

    .line {
        transform: scale(.9);
        right: -170px;
    }

    .absolut-8 {
        width: 600px;
    }

    .absolut-6 {
        width: 620px;
    }

    .absolut-4 {
        width: 631px
    }

    .road-map__carousel-bg-2 {
        left: 600px;
    }
}


@media screen and (device-width: 1440px) {

    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.8);
    }

    .line {
        transform: scale(.9);
        right: -170px;
    }
    .absolut-8 {
        width: 600px;
    }
    .absolut-6 {
        width: 620px;
    }
    .absolut-4 {
        width: 631px
    }
    .road-map__carousel-bg-2 {
        left: 600px;
    }
}
@media screen and (device-width: 1366px) {

    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.8);
    }

    .line {
        transform: scale(.9);
        right: -170px;
    }

    .absolut-8 {
        width: 589px;
    }

    .absolut-6 {
        width: 585px;
    }

    .absolut-4 {
        width: 590px
    }

    .road-map__carousel-bg-2 {
        left: 600px;
    }
}

@media screen and (device-width: 1280px) {
    
    .first-info,
    .logo,
    .time,
    .advantages__item,
    .skills__title,
    .advantages__content__img,
    .mews,
    .skills-carousel,
    .clash-of-coins__img-bottom,
    .road-map__img-bg,
    .subscribe__title-wrapper,
    .subscribe__social-iem,
    .subscribe__social-iem-3,
    .partners__img,
    .partners__content-img,
    .footer__img-1,
    .footer__img-2 {
        transform: scale(.8);
    }
    .line{
        transform: scale(.9);
    }
    .absolut-7 {
        width: 618px;
    }
    .absolut-8 {
        width: 550px;
    }
    .absolut-6 {
        width: 540px;
    }
    .absolut-4 {
        width: 586px;
    }
}