@media (min-width: 2000px) {

    
     .absolut-9 {
         margin-left: 80px;
     }
     .line {
         background-size: cover;
         width: 1900px;
         height: 1498px;
         background-position: 0px 30px;
     }

     .four {

         max-width: 1000px;
     }
     .advantages__content {
         max-width: none;
     }
     .advantages__content__last-img-1 {
         right: 400px;
     }
     .skills__title {
         margin-right: 50px;

     }
     .skills {
         bottom: -50px;

     }
     .absolut-2 {
         max-width: 600px;
     }
     .absolut-6 {
         width: 625px;
     }
     .line{
         transform: rotate(-5deg);
     }
     
     
}
@media (min-width: 2100px) {
    .road-map__carousel{
        max-width: 1600px;
    }
    .advantages__content__last-img-1 {
        right: 550px;
    }
    .skills__title {
        margin-right: 150px;
    }
    .one {
        margin: 0 auto;

        margin-top: 35px;
        max-width: 600px;
    }
}
@media (min-width: 2200px) {
    .advantages__content__last-img-1 {
        right: 600px;
    }
    .skills__title {
        margin-right: 350px;
        
    }
    .road-map__carousel{
max-width: 2000px;
    }
    .line{
        width: 1700px;
    }
    
}
@media (min-width: 2300px) {
    .line {
        width: 1900px;
    }
    .road-map__carousel {
        max-width: 2170px;
    }
}
@media (min-width: 2500px) {
    .advantages__content__last-img-1 {
        right: 950px;
    }
   
    .road-map__carousel-bg-4{
        display: block;
        position: absolute;
        left: 1700px;
        bottom: 160px;
    }
    .first__bottom-bg {
        height: 345px;
        bottom: -55px;
    }
    
    
    .road-map__carousel{
        max-width: 2200px;
    }
    .road-map__carousel-btn-next{
        right: 280px;
    }
    .absolut-2{
        margin-top: 40px;
    }
    .absolut-6 {
        margin-top: 40px;
    }
    .line {
        width: 2000px;
        height: 1550px;
    }
    }
    
    
    


@media (max-width: 1820px) {
    .road-map__carousel-btn-next{
        right: 240px;
    }
    .four {

        max-width: none;
    }
    .road-map__carousel-btn-next {
        right: 200px;
    }
    
    .menu__content{
        width: 90%;
    }
    .advantages__content{
        margin-left: 200px;
    }
    .road-map__wrapper{
        padding-left: 0;
    }
}
@media (max-width: 1700px) {
    .road-map__carousel-btn-next {
        right: 250px;
    }
    .first__bottom-bg {
        bottom: -25px;
    }
    .advantages__content {
        margin-left: 100px;
    }
    
    .one {
        margin-left: 100px;
        
    }
    .advantages__content__img{
        right: 17px;
    }
    .clash-of-coins__img-bottom{

        left: 0;
    }
    .advantages__content__last-img-2{
        left: 0;

    }
    .btn{
        margin-left: 30px;
    }
    .road-map__clock{
        width: 420px;
    }
    .road-map__carousel-bg-1{
        bottom: 180px;
    }
    .road-map__carousel-bg-1{
        left: 170px;
    }
    .absolut-1{
        left: 420px;
    }
    .absolut-2{
        left: 520px;
    }
    .road-map__carousel-bg-2{
        left: 880px;
    }
    .partners__img {
        left: -150px;
    }
    
}
@media (max-width: 1660px) {
    .advantages__content__last-img-1 {
        right: 220px;
    }
    .first__bottom-bg {
        bottom: -45px;
        max-width: 1660px;
        background-size: contain;
    }
    .advantages__icons{
        padding-right: 340px;
    }
    .advantages__item__img-2 {
        right: 200px;
    }
    .road-map__clock{
        display: none;
    }
    .road-map__carousel-bg-1{
        left: -50px;
    }
    .absolut-1 {
        left: 220px;
    }
    .map__carousel-bg-1 {
        bottom: 160px;
    }
    .absolut-2 {
        left: 350px;
    }
    .road-map__carousel-bg-2 {
        left: 720px;
    }
    .absolut-3 {
        right: 100px;
        
    }
    .absolut-4 {
        right: -50px;
        
    }
    .road-map__carousel-btn-next{
        right: 200px;
    }
    .road-map__img-bg {
        right: 100px;
    }
    .road-map__carousel {
       margin-top: 150px;
       margin-left: 200px;
    }
    .road-map__carousel-btn-prev {
        left: 0px;
    }
    .road-map__carousel-bg-1 {
        bottom: 150px;
    }
    .road-map__carousel-bg-3 {
        bottom: 220px;
    }
    

}
@media (max-width: 1500px) {
    .advantages__item__img-en{
        left: 400px;
    }
    .advantages__content__last-img-1 {
        right: 120px;
    }
    .road-map__carousel-bg-1 {
        left: -190px;
    }
    .road-map__carousel {
        margin-left: 25px;
    }
    .absolut-2 {
        margin-top: 50px;
    }
    .road-map__carousel-bg-1 {
        bottom: 150px;
    }
    .absolut-8 {
        width: 650px;
    }
    .absolut-9 {
        margin-left: 50px;
        margin-top: 170px;
    }
    .absolut-6 {
        width: 650px;
        margin-top: 50px;
    }
    .road-map__carousel-bg-2 {
        left: 650px;
    }
    .first__bottom-bg{
        bottom: -65px;
    }
    .partners__content-img{
        right: -200px;
    }
    .partners__img{
        max-width: 300px;
        top: 0;
        left: 20px;
    }
    .partners__content-img{
        width: 300px;
        top: -130px;
    }
    .clash-of-coins__info{
        padding: 55px 60px 142px 60px;
    }
    .advantages__item__img-2 {
        right: 100px;
    }
    .road-map__img-bg{
        right: 20px;
    }
    .clash-of-coins__wrapper{
        padding: 0 24px;
    }
    .road-map__carousel-btn-prev {
        left: 50px;
    }
}
@media (max-width: 1367px) {
    .advantages__icons{
        padding-top: 66px;
    }
    .advantages__content__img{
        top: -30px;
    }
    .line {
        right: auto;
        left: 100px;
        max-width: 1562px;
        width: 100%;
    }
    .advantages__content__last-img-1 {
        right: 20px;
    }
    .absolut-8 {
        width: 600px;
    }
    
    .absolut-6 {
        width: 600px;
    }
    .absolut-4 {
        width: 600px;
    }
    .first__bottom-bg {
        bottom: -85px;
    }
    .advantages__item__img-2{
        right: 20px;
    }
    .advantages__content{
       margin-left: 30px;
       overflow: hidden;
       padding-bottom: 650px;
    }
    .partners__content-img{
        width: 226px;
        right: -100px;
    }
    .footer__img-1{
        right: -50px;
    }
    .footer__content {
        padding: 50px 24px;
    }
    .clash-of-coins__title {
        font-size: 70px;
    }
    .clash-of-coins__subtitle{
        font-size: 44px;
    }
    .clash-of-coins__text{
        margin-left: 70px;

    }
    .left-menu {
        left: 40px;
    }
    .road-map__carousel-bg-1 {
        left: -200px;
    }
    .absolut-1 {
        left: 20px;
    }
    .absolut-2 {
        left: 150px;
    }
    .road-map__carousel-bg-2 {
        left: 500px;
    }
    .absolut-9 {
        margin-left: 80px;
        width: 550px;
    }
    .absolut-7 {
        width: 655px;
    }
    
}
@media (max-width: 1200px) {
    .advantages__content__img{
        top: -80px;
    }
   .item{
      
    padding: 20px 22px 20px 30px;
   }
   .item__text{
       margin: 0 30px;
   }
    .item__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }
    
    .absolut-3,
    .absolut-4,
    .absolut-5,
    .absolut-6,
    .absolut-7,
    .absolut-8,
    .absolut-9{
        
        width: 500px;
    }
    .absolut-1,
    .absolut-2{
        width: 450px;
    }
    .road-map__carousel-item {
       margin: 0 10px;
       
    }
    .absolut-3 {
       
        right: -50px;
    }
    .absolut-4 {
       
        right: -200px;
    }
    .road-map__carousel-bg-1 {
        left: -250px;
    }
    .subscribe__social-iem-3 {
        display: none;
    }
    
    .first__wrapper {
        padding: 80px 20px 0 20px;
    }
    .clash-of-coins__img-bottom {
        max-width: 775px;
        width: 100%;
        bottom: -420px;
    }
    .road-map__img-bg{
        max-width: 468px;
    }
    .road-map__content{
        margin-top: 0;
    }
    .subscribe__title{
        font-size: 80px;
    }
    .advantages__content__last-img-2{
        max-width: 538px;
    }
    .four{
        margin-left: auto;
        max-width: 546px;
    }
    .advantages__content__last-img-1{
        right: 20px;
    }
    .advantages__content__img{
        width: 450px;
    }
    .advantages__icons{
        padding-right: 35px;
    }
    .line{
        right: auto;
        left: 100px;
        max-width: 1562px;
        width: 100%;
        
    }
    .two {
        margin-top: 254px;
    }
    .skills__title{
        margin-right: 80px;
    }
    .skills{
        bottom: -100px;
    }
    .clash-of-coins__info{
        padding: 55px 30px 142px 30px;
    }
    .first-info{
        display: none;
    }
    .logo{
        display: none;
    }
    .mews{
        margin: 0 auto;
    }
    .left-menu{
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    .advantages__title{
        font-size: 66px;
        line-height: 79px;
    }
    .advantages__subtitle{
        font-size: 40px;
        line-height: 48px;
    }
    .advantages__descr{
        font-size: 20px;
        line-height: 28px;
    }
    .advantages__item__img {
        max-width: 123px;
        top: -50px;

    }
    .advantages__item__img  img{
        width: 100%;

    }
    .advantages__item__img-1{
        max-width: 120px;
        left: -150px;
    }
    .advantages__item__img-1 img {
        width: 120px;
    }
    .advantages__item__img-2{
        max-width: 108px;
        right: 140px;
        top: -50px;
    }
    .advantages__item__img-2 img {
        width: 100%;
    }
    .first__bottom-bg{
        background: url(../img/people.png) no-repeat;
        background-size: contain;
        bottom: -110px;
    }
    .advantages__content__last-img-1{
        max-width: 800px;
        height: 822px;
        right: 60px;
        top: -200px;
    }
    .advantages__content{
        padding-bottom: 500px;
    }
    .clash-of-coins{
        padding-top: 50px

    }
    .partners__content-img{
        right: -50px;
    }
    .clash-of-coins__title {
        font-size: 50px;
        line-height: 40px;
    }
    .clash-of-coins__top{
        padding: 30px 20px 89px 70px;
    }
    .road-map__title {
        font-size: 70px;
        line-height: 84px;
    }
    .subscribe__title{
        font-size: 70px;
        line-height: 80px;
    }
    .skills-carousel__next{
        right: -53px;
    }
    .skills-carousel__pre{
        left: -53px;
    }
    .subscribe{
        padding: 0 25px;
    }
    .subscribe__social-link-1{
        background: url(../img/icons/twitter-yellow.svg) no-repeat;
        background-size: contain;
    }
    .subscribe__social-link-2{
        background: url(../img/icons/telegram-green.svg) no-repeat;
        background-size: contain;
    }
    .subscribe__social-link-3 {
        display: none;
    }
    .subscribe__social-link-4{
        display: block;
    }
    .skills {
        overflow: hidden;
        padding-bottom: 230px;
    }
    .clash-of-coins{
        height: 880px;
    }

     // menu
     .menu {
         max-width: 375px;
         width: 100%;
         height: 100vh;
         padding: 20px 26px 30px 40px;
         position: absolute;
         z-index: 999;
         transition: .6s linear;
         top: 0;

     }
     .memu-show{
         left: 0;
         top: 0;
         height: 100vh;
     }
     .menu-btn__close{
         display: flex;
     }

     .menu__wrapper {

         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
     }

     .menu__content {
         flex-direction: column;
         align-items: flex-start;
         padding-top: 88px;
     }

     .menu__list {
         flex-direction: column;
         align-items: flex-start;
     }

     .menu__logo {
         margin-left: 40px;
     }

     .menu__link {
         padding: 0 0 40px 0;
         display: block;
     }

}
@media (max-width: 1100px) {
    .footer__img-2 {
        right: -280px;
    }
    .footer__img-1 {
        right: -150px;
    }
    .absolut-2{
        margin-left: 0px;
    }
    .absolut-4 {
        margin-left: 0px;
    }
    .absolut-9 {
        margin-left: 0px;
    }
    .absolut-6{
        margin-left: 0;
    }
    .absolut-8{
        margin-left: 0;
    }
    .advantages__content__last-img-2{
            max-width: 438px;
    }
    .road-map__carousel-bg-2 {
        left: 350px;
    }
    .absolut-1 {
        left: -50px;
    }
    .absolut-2 {
        left: 100px;
    }
    .subscribe__img {
        top: -50px;
    }
    .absolut-7 {
        width: 618px;
    }
    .absolut-6 {
        width: 540px;
    }
    .absolut-4 {
        width: 587px;
    }
}
@media (max-width: 992px) {
    .advantages__item__img-en{
        left: 200px;
    }
    .partners__img{
        max-width: 570px;
        width: 100%;
        height: 558px;
        background: url(../img/airdrop.png) no-repeat;
        background-size: contain;

    }
   .absolut-2 {
       margin-top:40px;
   }
    .road-map__carousel .active .item__img {
        background-size: contain;
    }
    .item__img{
        width: 60px;
        height: 60px;
        background-size: contain;
    }
    .absolut-3 {
        width: 460px;
    }
    .absolut-4 {
        width: 460px;
    }
    .absolut-5 {
        width: 450px;
    }
    .absolut-6 {
        width: 450px;
    }
    .absolut-7 {
        width: 480px;
    }
    .absolut-8{
        width: 460px;
    }
    .absolut-9 {
        width: 482px;
        margin-top: 150px;
    }
    .first__bottom-bg {
        max-width: 1000px;
        background: url(../img/Frame.svg) no-repeat;
        background-size: contain;
         bottom: -120px;
    }
    .advantages__content__img {
        width: 297px;
    }
    .advantages__content{
        margin-left: 0;
        padding-bottom: 650px;
    }
    .one {
        margin-left: 85px;
    }
    .two {
        margin-top: 150px;
        margin-left: 24px;
    }
    .two .advantages__title{
        font-size: 42px;
        line-height: 50px;
    }
    .two .advantages__subtitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 12px;
        
    }
    .advantages__descr{
        margin: 0 17px 0 40px;
    }
    .three .advantages__title {
        font-size: 42px;
        line-height: 50px;
    }
    .three .advantages__subtitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 12px;

    }
    .four .advantages__title {
        font-size: 42px;
        line-height: 50px;
    }

    .four .advantages__subtitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 12px;

    }
    .line {
        left: 20px;
        top: -110px;
    }
    .advantages__item__img{
        top: -80px;
        left: 150px;
    }
    .three{
        margin-left: 300px;
    }
    .advantages__content__last-img-2{
        max-width: 376px;
        width: 100%;
        top: -100px;
        left: 30px;
    }
    .advantages__content__last-img-1{
        max-width: 700px;
        height: 722px;
        top: 50px;
        right: 0px;
    }
    .advantages__item__img-2 {
        right: 80px;
        
    }
    .four{
        position: absolute;
        right: 50px;
    }
    
    .skills__title{
        text-align: left;
        font-size: 44px;
        line-height: 56px;
        max-width: 512px;
        margin-left: auto;
        margin-right: 25px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .skills {
        bottom: -120px;
    }
    .skills-carousel{
        max-width: 818px;
    }
    .skills-carousel__next,
    .skills-carousel__pre {
        display: none;
    }
    .skills-carousel__icons {
        width: 113px;
        height: 113px;

    }
    .advantages {
        height: 1880px;
    }
    .clash-of-coins {
        padding-top: 0;
    }
    .clash-of-coins__img-top{
        max-width: 228px;
        height: 273px;
        transform: rotate(50deg);
        top: -180px;
        right: 50px;
        
    }
    .clash-of-coins__wrapper {
        flex-direction: column;
    }
    .clash-of-coins__info {
        padding: 55px 60px 142px 60px;
        height: 720px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .clash-of-coins__subtitle{
        font-size: 44px;
        line-height: 80px;
    }
    .clash-of-coins__title {
        font-size: 70px;
        line-height: 80px;
    }
    .clash-of-coins__text{
        font-size: 16px;
        line-height: 22px
    }
    .clash-of-coins__img-bottom{
            max-width: 875px;
            height: 447px;
            width: 100%;
            bottom: 240px;
            left: 20px;

    }
    .clash-of-coins__top {
        max-width: 100%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 70px 60px 81px 118px;
        height: auto;
    }
    .road-map{
        padding-top: 420px;
    }
    .road-map__title{
        font-size: 70px;
        line-height: 84px;
        text-align: left;
        margin-left: 96px;
    }
    .road-map__subtitle-wrapper{
        display: flex;
        align-items: center;
      
        margin-left: 174px;
    }
    .road-map__carousel-btn__mobile__prev{
        display: block;
        background-color: transparent;
        border: none;
        width: 12px;
        height: 24px;
        margin-right: 31px;
        
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    .road-map__carousel-btn__mobile__next {
        display: block;
        background-color: transparent;
        border: none;
        width: 12px;
        height: 24px;
        margin-left: 20px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
    .road-map__subtitle-wrapper .active .road-map__carousel-btn__mobile__prev-img path {
        fill: $yelloy;
    }
    .road-map__subtitle{
        font-size: 44px;
        line-height: normal;
        text-align: left;
        
    }
    .road-map__img-bg{
        max-width: 260px;
        right: 0;

    }
    .subscribe{
        padding: 420px 25px 0 25px;
    }
    .road-map__carousel-bg-1{
        left: -150px;
        bottom: 170px;
    }
    .road-map__carousel-bg-1 svg{
        
        max-width: 420px;
        width: 100%;
        height: 255px;

    }
    .absolut-1 {
        left: 0;
        top: 130px;
    }
    .absolut-2 {
        left: 130px;
        bottom: 220px;
    }
    .absolut-4 {
        right: -150px;
        bottom: 240px;
    }
    .item{
        padding: 20px 23px 20px 30px;
        height: 96px;
    }
    .item__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px
    }
    .item__icons{
        width: 50px;
        height: 50px;
    }
    .absolut-3 {
        bottom: 360px;
        right: 0px;
    }
    .road-map__carousel-bg-2{
        left: 400px;
        bottom: 160px;
    }
    .road-map__carousel-bg-2 svg{
        width: 227px;
        height: 281px;
        
    }
    .road-map__carousel-bg-3{
        display: none;
    }
   
    .subscribe__subtitle{
        font-size: 44px;
        line-height: 80px;
        margin: 0;
    }
    .subscribe__title{
        font-size: 70px;
        line-height: 80px;
    }
    .subscribe__content{
        flex-direction: column;
        padding-top: 160px;
        position: relative;
    }
    .subscribe__info{
        margin-bottom: 70px;
    }
    .subscribe__text{
        margin-right: 0;
        margin-left: 88px;
    }
    .subscribe__text-title{
        font-size: 44px;
        line-height: 53px;
    }
    .subscribe__text-descr{
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
    }
    .subscribe__sociall{
        height: auto;
        position: absolute;
        bottom: 0;
       right: 118px;
    }
    .subscribe__img{
        max-width: 253px;
        height: 346px;
        right: 99px;
        top: 600px;
    }
    .subscribe {
        padding: 300px 25px 0 25px;
    }
    .partners__title{
        font-size: 70px;
        line-height: 80px;
    }
    .partners__img{
        max-width: 165px;
        height: 172px;
    }
    .partners{
        padding-top: 120px;
        top: 40px;
        left: 17px;
    }
    .partners__content-img{
        width: 127px;
        height: 110px;
        right: 46px;
            top: -54px;
    }
    .partners__title-wrapper{
        margin-bottom: 46px;
    }
    .partners__wrapper{
        margin-bottom: 43px;
    }
    .partners__content{
        position: relative;
        max-width: 637px;
    }
    .partners__item-absolut{
        position: absolute;
        bottom: -200px;
        left: 0;
    }
    .partners__item-absolut-1 {
        position: absolute;
        bottom: -100px;
        right: 0;
    }
    .p{
        padding: 0 20px;
    }

    .p-1{
        padding: 0 40px;
    }
    
    .partners__exists-in__title{
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 80px

    }
    .partners__exists-in {
        max-width: 717px;
        padding: 140px 10px 0 10px;
    }
    .partners__exists-in__logo{
        width: 299px;
    }
    .time__btn{
        max-width: 280px;
        height: 80px;
        margin-left: 40px;
        font-size: 27.753px;
        line-height: 33px;
    }
    
    .days__number,
    .hours__number,
    .minutes__number,
    .seconds__number {
        font-weight: 500;
        font-size: 56px;
        line-height: 58px;
    }
    .days__text,
    .hours__text,
    .minutes__text,
    .seconds__text {
        font-size: 16px;
        
    }
    .timer__content{
        padding-bottom: 84px;
    }
    .time{
        max-width: 720px;
        height: 120px;
    }
    .colon{
        margin-left: 12px;
        margin-right: 12px;
    }
    .footer__img-1{
       max-width: 168.05px;
        height: 182.18px;
        top: -50px;
        right: -50px;
    }
    .footer__img-2{
        max-width: 545px;
        height: 579px;
        top: -250px;
        right: -200px;
    }
    .timer__content .time {
        margin: 0 auto;
    }
    .footer {
        padding-top: 110px;
    }
    .footer__wrapper{
        flex-direction: column;
        padding-left: 89px;
        padding-bottom: 50px;
    }
    .footer__item{
        order: 2;
        width: 100%;
    }
    .footer__item-mr{
        order: 1;
        margin-bottom: 30px;
       
    }
    .footer-logo{
        margin-right: 30px;
    }
    .footer__item{
        display: flex;
        align-items: center;
        
    }
    .footer-logo__img{
        width: 150px;
    }
    .footer__content{
        padding: 30px 24px;
    }
    .footer__bottom-item{
        font-weight: 500;
        font-size: 12px;
        line-height: 36px
    }
    .footer__bottom-item img {
        width: 184px;
    }
    .footer__bottom-item span {
        margin-bottom: 0;
    }
    .footer__bottom-item__link{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-right: 24px;
    }
    
    .four {
        position: absolute;
        right: 0 ;
    }
    .advantages__content__last-img-2 {
        left: 0px;
    }
    .road-map__top{
        position: relative;
        max-width: 650px;
    }
    
    
}
@media (max-width: 835px) {
    .clash-of-coins {
        padding-top: 100px;
    }
    .skills{
        bottom: -180px;
    }
    .first__bottom-bg {
       
        bottom: -140px;
    }

    .advantages__content__last-img-1{
        right: -60px;
    }
    .absolut-1 {
        margin:  0 auto 30px auto;
        width: 580px;
    }
    .absolut-2{
         margin: 0 auto 30px auto;
          width: 580px;
         
    }
    .absolut-3 {
         margin:  0 auto 30px auto;
          width: 580px;
    }
    .absolut-4{
         margin: 0 auto 30px auto;
          width: 580px;
    }
    .absolut-5{
         margin: 0 auto 30px auto;
          width: 580px;
    }
    .absolut-6{
         margin: 0 auto 30px auto;
          width: 580px;
    }
    .absolut-7{
         margin: 0 auto 30px auto;
          width: 580px;
    }
    .absolut-8{
         margin: 0 auto 30px auto;
          width: 580px;
    }
    .absolut-9 {
        margin: 120px auto 30px auto;
         width: 580px;
    }
    .subscribe__social-link-1,
    .subscribe__social-link-2,
    .subscribe__social-link-4 {
        width: 134px;
        height: 134px;
    }
    .subscribe__social{
        margin: 60px auto 0 auto;
    }
    .subscribe__img{
        top: 450px;
    }
    .three {
        margin-left: 200px;
    }
    .first-bottom__text{
        font-weight: 500;
        font-size: 30px;
        line-height: 44px;
    }
    .road-map__carousel-btn-prev{
        top: -175px;
        left: 70px;
        border: none;
    }
    .road-map__carousel-btn-next{
          top: -175px;
          left: 235px;
          border: none;
    }
        
    .road-map__carousel-btn__img{
        width: 13px;
        
        
    }
    .road-map__content {
        overflow: visible;
    }
}


@media (max-width: 768px) {
    .footer__img-1 {
        right: -90px;
    }
    .first__bottom-bg {

        bottom: -160px;
    }

    .first__bottom-arrow {
        display: none;
    }
    .tent__last-img-2 {
        left: -20px;
    }
    .advantages__content__img{
        right: 0;
    }
    .one {
        margin-left: 65px;
    }
    .absolut-2 {
        left: 100px;
    }

    .absolut-3 {
        right: -200px;
    }

    .absolut-4 {
        right: -300px;
    }
    .subscribe__sociall{
        right: 20px;
    }



   
    
}
@media (max-width: 740px) {
    .advantages__content__last-img-2{
        max-width: 300px;
    }
    .tent__img {
        width: 257px;
    }
}
@media (max-width: 680px) {
    .modal{
        max-width: 343px;
        padding: 60px 30px 80px 30px;


    }
    .modal__title{
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
    }
    .modal__body{
        font-size: 16px;
        line-height: 26px;
    }
    .modal__btn{
        top: 22px;
        right: 22px;
    }
    .footer__img-1 {
        right: -50px;
    }
    .road-map__carousel {
        margin-left: 0;
    }
    .road-map__carousel-btn-prev {
        
        left: -20px;
        
    }
    .road-map__carousel-bg-2 {
        left: 360px;
    }

    .road-map__carousel-btn-next {
        top: -173px;
        left: 125px;
        border: none;
    }
    .one {
        margin-left: 16px;
    }
    .advantages__subtitle{
        font-size: 20px;
        line-height: 24px;
    }
    .advantages__title{
        font-size: 50px;
        line-height: 60px;
    }
    .advantages__descr{
        font-size: 16px;
        line-height: 26px;
        margin: 0 17px 0 20px;
    }
    .clash-of-coins__subtitle{
        font-size: 24px;
        line-height: 29px;
    }
    .clash-of-coins__title{
        font-size: 40px;
        line-height: 48px;
    }
    .clash-of-coins__info{
        padding: 34px 24px 0 24px;
        height: 485px;
    }
    .clash-of-coins__text{
        margin-left: 0;
        margin-top: 0;
    }
    .clash-of-coins__img-bottom{
        max-width: 700px;
            height: 347px;
            bottom: 210px;
            
    }
    .clash-of-coins__top{
        padding: 70px 60px 36px 36px;
    }
    .road-map {
        padding-top: 150px;
    }
    .road-map__title{
        margin-left: 40px;
        font-size: 40px;
        line-height: 48px;
    }
    .road-map__subtitle-wrapper {
        margin-left: 50px;
    }
    .road-map__img-bg {
        right: auto;
        left: 200px;
    }
    .absolut-3 {
        right: -280px;
    }
    .absolut-4 {
        right: -380px;
    }
    .subscribe {
        padding: 0  25px 0 25px;
    }
    .subscribe__subtitle{
        font-size: 24px;
        line-height: 29px
    }
    .subscribe__title{
        font-size: 40px;
        line-height: 48px
    }
    .subscribe__content{
        padding-top: 70px;
    }
    .subscribe__img{
        max-width: 224px;
        height: 306px;
        top: 320px;
        right: 0;
    }
    .subscribe__text{
        margin-left: 0;
    }
    .subscribe__text-title{
        font-size: 40px;
        line-height: 48px
    }
    .partners__title{
        font-size: 40px;
        line-height: 48px
    }
    .subscribe__text-descr{
        font-size: 16px;
        line-height: 26px;
    }
    .partners__item-absolut {
        left: 50%;
        transform: translate(-50%);
        bottom: -170px;
    }
    .partners__item-absolut-1 {
        left: 50%;
        transform: translate(-50%);
        bottom: -170px;
    }
    .partners__wrapper{
        margin-bottom: 24px;
        
    }
    .partners__exists-in {
        padding: 180px 10px 0 10px;
    }
    .partners__exists-in .partners__list {
        flex-direction: column;
    }
    .time__btn{
        max-width: 123px;
        height: 31px;
        font-size: 18px;
        line-height: 22px;
        background: url(../img/Button-green.svg) no-repeat center center;
        background-size: cover;
        margin-left: 20px;
        flex-shrink: 0;
    }
    .time__link {
        font-size: 18px;
        line-height: 22px;
        color: $white;
    }
    .days,
    .hours,
    .minutes,
    .seconds{
        max-width: 38px;
    }
    .days__number,
    .hours__number,
    .minutes__number,
    .seconds__number {
        font-size: 24px;
        line-height: 29px;
    }
    .days__text,
    .hours__text,
    .minutes__text,
    .seconds__text {
        font-size: 11px;
        line-height: 13px;
    }
    .colon{
        font-size: 20px;
        line-height: 58px;
        margin: 0 7px;
    }
    .time{
        max-width: 343px;
        height: 70px;
        border: 1px solid rgba(244, 244, 244, 0.2);
        border-radius: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 24px;
        padding-right: 16px;
        
    }
    .footer__img-1{
        max-width: 152px;
        height: 164px;
    }
    .footer__img-2{
        width: 393px;
        height: 417px;
        right: -100px;
        top: -200px;
    }
    .footer__item{
        width: 100%;
        
    }
    .footer__content{
        flex-direction: column;
    }
    .footer__bottom-item:first-child{
        order: 2;
    }
    .footer__bottom-item:nth-child(2){
        order: 1;
        margin-bottom: 40px;

    }
    .footer__bottom-item:nth-child(3){
        order: 3;
    }
    .skills-carousel__icons{
        width: 60px;
        height: 60px;
    }
    .skills-carousel{
        max-width: 500px;
    }
    .skills-carousel__title {
        font-size: 20px;
        line-height: 46px;
        margin-bottom: 0;
    }
    .skills-carousel__descr{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }
    .clash-of-coins {
        padding-top: 50px;
    }
    .advantages__item__img-2 {
    right: 20px;
    }
    .mews{
        max-width: 509px;
    }
    .mews__event{
        max-width: 350px;
        font-size: 16px;
        padding: 0 16px 0 10px;
    }
    .news__info {
         max-width: 451px;
         font-size: 14px;
    }
    .news__content {
        max-width: 449px;
        font-size: 14px;
    } 
    .first__bottom-bg {

        bottom: -170px;
    }
    

}
@media (max-width: 580px) {
    .d-none{
        display: none;
    }
    .road-map__carousel-btn-prev,
    .road-map__carousel-btn-next {
        display: none;
    }
    .absolut-1,
    .absolut-2,
    .absolut-3,
    .absolut-4,
    .absolut-5,
    .absolut-6,
    .absolut-7,
    .absolut-8,
    .absolut-9 {

        margin: 0 auto;
    }
    .mews{
        display: none;
    }
    .title-wrapper{
        padding-top: 19px;
        font-size: 50px;
        line-height: 60px;
    }
    .title{
        font-size: 50px;
        line-height: 60px;
    }
    .first-bottom{
        padding-top: 75px;
        
    }
    .first-bottom__text {
        font-size: 20px;
        line-height: 30px;
    }
    .time{
            margin: 24px auto 0 auto;
    }
    .first {
        height: 478px;
    }
    .mobile-menu__info-text{
        display: none;
    }
    .mobile-menu__info-flag{
        margin-left: 10px;
    }
    .mobile-menu{
        padding: 0 19px;
    }
    .first__wrapper {
        padding: 80px 16px 0 16px;
    }
    .advantages__icons{
        justify-content: center;
        padding-right: 0;
    }
    .advantages__icons__link-img{
        width: 32px;
        height: 32px;
    }
    .two{
        margin-top: 350px;
    }
    .advantages__icons__link {
        margin-right: 40px;
    }
    .advantages__content__img{
        max-width: 297px;
        height: 297px;
        top: 170px;
        right: auto;
        left: 50%;
        transform: translate(-50%);
    }
    .line {
        left: -240px;
        top: 490px;
        transform: rotate(15deg);
        width: 951px;
        height: 617px;
    }
    .advantages__item__img{
        max-width: 78px;
        top: -25px;
        left: 190px;

    }
    .advantages__title{
        font-size: 40px;
        line-height: 48px;

    }
    .advantages__descr {
        margin-top: 12px;
    }
    .three {
        margin-left: 55px;
        margin-top: 79px;
        text-align: right;
        max-width: 380px;
    }
    .advantages__item__img-1{
        top: -60px;
        left: 0;
    }
    .advantages__item__img-1 img{
        max-width: 73px;
        
    }
    .three .advantages__title {
        font-size: 40px;
        line-height: 48px;
    }
    
    .four {
        margin-top: 25px;
        right: auto;
        left: 16px;
    }
    .four .advantages__title{
        font-size: 40px;
        line-height: 48px;
    }
    .advantages__item__img-2{
        max-width: 71px;
        top: 10px;
        right: 56px;
    }
    .advantages__content__last-img-1{
       width: 500px;
       left: 50%;
       transform: translate(-50%);
      top: 120px;
       
       
    }
    .advantages__content__last-img-2{
        max-width: 376px;
        height: 378px;
        left: 50%;
        transform: translate(-50%);
        
        top: 200px;
    }
    .advantages__content {
        padding-bottom: 650px;
    }
    .skills {
        padding-bottom:0;
    }
    .skills__title{
        font-size: 30px;
        line-height: 44px;
        margin-left: 16px;
    }
    .skills-carousel {
        margin: 20px auto 0 auto;
    }
    .skills-carousel {
        max-width: 535px;
    }
    .clash-of-coins__img-top {
        max-width: 165px;
        height: 138px;
        top: -60px;
        right: 0;
    }
    .clash-of-coins__img-bottom {
        max-width: 446px;
        height: 228px;
        bottom: 480px;
    }
    .clash-of-coins__top{
        flex-direction: column;
    }
    .road-map {
        padding-top: 300px;
    }
    .road-map__img-bg {
        width: 127px;
        left: 210px;
    }

    .road-map__subtitle{
        font-size: 30px;
        line-height: 36px;
    }
    .item {
        border-radius: 20px;
        flex-direction: column;
        height: auto;
        max-width: 343px;
        height: 220px;
        padding: 20px;
    }
    .item__number{
        order: 1;
    }
    .item__text{
        order: 2;
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .item__img{
        order: 3;
        background: none;
        width: 50px;
        margin-top: 8px;
    }
    .road-map__carousel .active .item__img{
        background: none;
    }
    .absolut-1,.absolut-2,.absolut-3,.absolut-4{
        position: static;
    }
    
    .road-map__carousel{
        padding-top: 30px;
        
        background: none;
    }
    .road-map__carousel{
        justify-content: center;
    }
    .road-map__carousel-bg-1,
    .road-map__carousel-bg-2,
    .road-map__carousel-bg-3{
        display: none;
    }
    .road-map__content-number{
        margin-top: 13px;
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        color: #FFBA00;
        display: flex;
        justify-content: center;
        align-items: center;
        .active svg path {
            fill: $yelloy;

        }
    }
    .road-map__content-number__btn-prev{
        background-color: transparent;
        border: none;
        margin-right: 24px;
        &:focus{
            outline: none;
        }
        svg{
            width: 8px;
            height: 16px;
        }
    }
    .road-map__content-number__btn-next {
        background-color: transparent;
        border: none;
        margin-left: 24px;

        &:focus {
            outline: none;
        }
        svg {
            width: 8px;
            height: 16px;
        }
        
    }
    .subscribe {
        padding: 80px 16px 0 16px;
    }
    .road-map__carousel-btn__mobile__prev,
    .road-map__carousel-btn__mobile__next{
        display: none;
    }
    .road-map__subtitle-wrapper {
        margin-left: 108px;
    }
    .subscribe__social {
        max-width: 343px;
        margin: 24px auto 0 auto;
    }
    .subscribe__social-link-1,
    .subscribe__social-link-2,
    .subscribe__social-link-4 {
        width: 78px;
        height: 78px;
    }
    .subscribe__info-item{
        margin-bottom: 30px;
    }
    .subscribe__info-text{
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
    }
    .subscribe__img {
        top: 250px;
        right: -80px;
    }
    
    .subscribe__sociall{
        position: static;
    }
    .subscribe__sociall{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .partners {
        padding-top: 90px;
    }
    .partners__content-img {
        width: 95px;
        height: 83px;
        right: 0;
        top: -220px;
    }
    .partners__img {
        width: 143.64px;
        height: 149.77px;
        left: -70px;
    }
    .partners__logo{
        width: 70%;
    }
    
    .p-1 {
        padding: 0px;
        
    }
    .p{
        padding: 0;
    }
    .partners__item-absolut {
        left: 0px;
        transform: translate(0);
        bottom: -170px;
    }
    .partners__item-absolut-1 {
        left: auto;
        right: 0;
        transform: translate(0);
        bottom: -88px;
    }
    .partners__exists-in {
        padding: 100px 0 0 0 ;
    }
    .footer {
        padding-top: 80px;
    }
    .footer__wrapper {
        padding: 0 16px;
    }
    .footer__item-mr{
        margin-bottom: 300px;
    }
    .footer__img-2 {
        top: 70px;
        left: 50%;
        transform: translate(-50%);
    }
    .footer__img-1 {
       top: 290px;
       right: 90px;
       
    }
    .footer__descr,
    .footer-logo {
        display: none;
    }
    .footer__bottom-item:nth-child(3) {
        order: 2;
    }
    .footer__bottom-item:first-child {
        order: 3;
    }
    .first__bottom-bg {

        bottom: -190px;
    }
    .road-map__content{
        flex-direction: column;
        padding-top: 40px;
        height: 400px;
    }
    
    .road-map__carousel-mobile{
        width: 100%;
    }
    .item__text {
    margin: 0;
    }
    .road-map__content-number__btn-prev {
        position: absolute;
        bottom: -35px;
        left: 40%;
        transform: translate(0);
        margin-right: 0;
        &:focus svg path{
            fill: $yelloy;

        }
    }
    .road-map__content-number__btn-next {
        position: absolute;
        bottom: -35px;
        right: 40%;
        transform: translate(0);
         &:focus svg path {
             fill: $yelloy;

         }
    }
    .road-map__carousel-mobile .slick-active .item__number{
        color: $green;
    }
    .road-map__carousel-mobile .slick-active .item__icons path {
        fill: $green;
    }
        
}
@media (max-width: 440px) {
    .skills {
        bottom: -80px;
    }
    .first__bottom-bg {

        bottom: -200px;
    }
    .three {
        margin-left: 25px;
        margin-right: 16px;
    }
    .advantages {
        height: 2000px;
    }
    .partners__item-absolut-1,
    .partners__item-absolut{
        width: 200px;
    }
    .partners__exists-in__logo{
        width: 250px;
    }
    .footer__img-1 {
        right: 0;
    }
    .three .advantages__subtitle,
    .two .advantages__subtitle,
    .four .advantages__subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .btn {
        margin-left: 0px;
    }
}
@media (max-width: 380px) {
    .menu__content {
        padding-top: 40px;
    }
    .subscribe__img {
        right: -120px;
    }
    .clash-of-coins__img-bottom {
        bottom: 460px;
    }
    .partners__content-img{
        right: -20px;
    }
    .first-bottom__text {
        font-size: 18px;
    }
    .advantages__item__img-1 {
        
        left: -20px;
    }
    .time__btn{
        max-width: 100px;
    }
}
@media (max-width: 360px) {
    .three {
        margin-left: 0;
    }
    .advantages__item__img-1 {

        left: 0px;
    }
    .menu__content {
        padding-top: 0;
    }
}