$green: #00FF18;
$white: #ffffff;
$darck_green:#4ACE24;
$darck_green_2:#35AC2E;
$green_2: #25FF08;
$red: linear-gradient(90deg, #D04247 0%, #C70006 100%);
$yelloy: #FFBA00;
$blue: #6DD0E7;
$bg: #003C4A;





